 
 
 form {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 100%;
  font-weight: bold;
  background-color: white;
  text-align: center;
}
 h1 {
   color: #ea503f;
   font-family: Arial;
   text-align: center
 }

 #validation-summary {
     text-align: center;
 }

 input[type=text] {
     padding: 5px;
     margin:10px 0;
     box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
     border-radius: 10px;
 }

 input[type=checkbox] {
    padding: 5px;
    margin:10px 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
 }

 #rating {
    padding: 5px;
    margin:10px 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
 }

 input[type=button] {
    padding: 5px;
    margin:10px 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
 }
 
